<div class="row">
  <div class="col-xl-9 col-lg-9">
    <h3 style="margin-top: 15px"  class="text-muted"> Solicitudes </h3>
  </div>
</div>

<hr class=" px-4 ">
<!--Panel
<form class="col-xl-7 col-lg-7" #form = "ngForm" (ngSubmit)="logForm(form)" enctype="multipart/form-data">
-->
<form class="col-xl-7 col-lg-7" (submit)="logForm(facultyForm)"  #facultyForm="ngForm"  enctype="multipart/form-data" >


  <label mdbActive  for="purpose_classroom" class="text-muted">Asunto</label>
  <div class="md-form"   *ngIf="getSubjects">

    <select class="form-control" id="purpose_classroom" name="purpose_classroom_id" ngModel >
      <option value=""></option>
      <option  *ngFor="let purposeclassroom of purposesclassroom" value="{{purposeclassroom.id}}">{{purposeclassroom.name}}</option>
    </select>
  </div>

  <label mdbActive  for="typeclassroom"  class="text-muted">Tipo Salón: </label>
  <div class="md-form"   *ngIf="getTypesClassroom">
    <select class="form-control" id="typeclassroom" name="type_classroom_id" ngModel>
      <option value=""></option>
      <option  *ngFor="let typeclassroom of typeclassrooms" value="{{typeclassroom.id}}">{{typeclassroom.name}}</option>
    </select>
  </div>

  <label mdbActive  for="motive"  class="text-muted"> Motivo</label>
  <div class="md-form">
    <textarea mdbActive type="text" id="motive" class="md-textarea" id="motive" name="motive" ngModel></textarea>
  </div>

  <!--
  <div class="md-form">
    <input type="file" id="file" name="file" ngModel (change)="getFiles($event)" #fileInput>

  </div>-->


  <button type="submit" class="btn btn-default" >Registrar</button>

</form>
<!--/.Panel-->

