<table class="table table-hover mb-0">

  <!--Table head-->
  <thead>
  <tr>
    <th>
      <label  class="th-lg label-table">#</label>
    </th>
    <th class="th-lg"><a>Usuario <i class="fa fa-sort ml-1"></i></a></th>
    <th class="th-lg"><a href="">Facultad<i class="fa fa-sort ml-1"></i></a></th>
    <th class="th-lg"><a href="">Edificio<i class="fa fa-sort ml-1"></i></a></th>
    <th class="th-lg"><a href="">Opciones<i class="fa fa-sort ml-1"></i></a></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">
      <label  class="label-table">1</label>
    </th>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
  <!--Table body-->
</table>
