

<table class="ui compact  definition table">
  <thead>
  <tr>
    <th width="5px"></th>
    <th>Dia</th>
    <th>Hora Inicio</th>
    <th>Hora Final</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let datetime of datetimes">
    <td>1</td>
    <td><input type="date" id="inputIconEx1" class="form-control">
    </td>
    <td> <input type="time" id="inputIconEx2" class="form-control">
      </td>
    <td> <input type="time" id="inputIconEx3" class="form-control">
     </td>
  </tr>
  </tbody>
  <tfoot class="full-width">
  <tr>
    <th></th>

    <th colspan="4">
      <div  class="btn btn-default"  (click)="createDatetime($event)">
        <i class="user icon" ></i> +
      </div>
    </th>
  </tr>
  </tfoot>
</table>
