<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg  scrolling-navbar intro-fixed-nav rgba-black-strong" [containerInside]="true"
class="navbarLanding">
  <logo>
    <a class="logo navbar-brand" href="#">
      <a class="navbar-brand" href="#"><img src="../assets/images/logo2.png" width="200px"> </a></a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;" href="http://localhost:4200/login"><strong>Login</strong></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;" href="http://localhost:4200/register"><strong>Register</strong></a>
      </li>
    </ul>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;"><i class="fa fa-facebook"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;"><i class="fa fa-twitter"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;"><i class="fa fa-google-plus"></i></a>
      </li>
      <li class="nav-item waves-light" mdbRippleRadius>
        <a class="nav-link" style="color: #ffffff;"><i class="fa fa-linkedin"></i></a>
      </li>
    </ul>
  </links>
</mdb-navbar>
