<h3> Buzón de Entrada </h3>
<hr class=" px-4 ">
<!--Panel-->
<div *ngIf="requests">
<div class="card w-100"  *ngFor="let request of requests" style="margin-bottom: 10px">
  <div class="card-body">
      <div class="row">
          <div class="col-xl-9 col-lg-9">
            <h3 style="margin-top: 15px"> Peticion no:  {{request.id}} </h3>
          </div>
          <div class="col-xl-3 col-lg-3" style="align-content: right;">
            <h3 class="card-title">Estado:  {{request.state}}</h3>
          </div>
        </div>
    <!-- <h3 align=right class="card-title">Estado:  {{request.state}}</h3>
    <h4 class="card-title">Solicitud #  {{request.id}}</h4> -->
    <p class="card-text">From: {{request.requestable.first_name +' '+ request.requestable.last_name}}</p>
    <p class="card-text">E-mail: {{request.requester_email}}</p>
    <p class="card-text">Cargo: {{request.user_type}}</p>
    <p class="card-text">Tipo de salon: {{request.type_classroom}}</p>
    <p class="card-text">Proposito de salon: {{request.purpose_classroom}}</p>
    <div *ngIf="request.times != -1">
      <h4 >Horario:  </h4>
      <div *ngFor="let time of request.times"  >
        <div >
          <p class="card-text">Fecha: {{time.date}}</p>
            <!-- <p class="card-text">Desde (H): {{time.begin_at_hour}}</p>
            <p class="card-text">Desde (M): {{time.begin_at_minute}}</p>
            <p class="card-text">Hasta (H): {{time.end_at_hour}}</p>
            <p class="card-text">Hasta (M): {{time.end_at_minute}}</p> -->
        </div>
       </div>
       <div  *ngIf="request.state == 'no readed'">
          <a  routerLink="/layout/inbox/mail/{{request.id}}" class="btn btn-primary">Gestionar</a>
          <a href="#" class="btn btn-primary">Dar de Baja</a>
        </div>
    </div>


    <!-- <p class="card-text">Dia: {{request.times[0].date}}</p>
    <p class="card-text">Hora inicio: {{request.times[0].begin_at_hour}}</p> -->



  </div>
</div>
</div>

<hr class="my-0">

<!--Bottom Table UI-->
<div class="d-flex justify-content-between">


  <!--Pagination -->
  <nav class="my-4"   *ngIf="Number">
    <ul class="pagination pagination-circle pg-blue mb-0">

      <!--First-->
      <li class="page-item" (click)="onChangePage(this.first)"><a class="page-link">First</a></li>

      <!--Arrow left-->
      <li class="page-item" (click)="onChangePrevious(this.previous)">
        <a class="page-link" aria-label="Previous">
          <span aria-hidden="true" >&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>

      <!--Numbers-->

      <li class="page-item " *ngFor="let eventNumber of Number" (click)="onChangePage(eventNumber)"><a class="page-link">{{ eventNumber }}</a></li>

      <!--Arrow right-->
      <li class="page-item" (click)="onChangeNext(this.next)">
        <a class="page-link" aria-label="Next">
          <span aria-hidden="true" >&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>

      <!--First-->
      <li class="page-item"  (click)="onChangePage(this.last)"><a class="page-link" >Last</a></li>

    </ul>
  </nav>
  <!--/Pagination -->

</div>
<!--/.Panel-->

