<h3> Buzón de Entrada </h3>
<hr class=" px-4 ">
<!--Panel-->
<div *ngIf="requests">
<div class="card w-100"  *ngFor="let request of requests" style="margin-bottom: 10px">
  <div class="card-body">
    <h3 class="card-title">Solicitud #  {{request.id}}</h3>
    <p class="card-text">From: {{request.teacher.first_name +' '+ request.teacher.last_name}}</p>
    <p class="card-text">E-mail: {{request.teacher.email}}</p>
    <p class="card-text">Cargo: {{request.teacher.role}}</p>
    <p class="card-text">Tipo de salon: {{request.type_classroom}}</p>
    <p class="card-text">Proposito de salon: {{request.purpose_classroom}}</p>
    <div *ngIf="request.times != -1">
        <h3 >Horario:  </h3>
        <div *ngFor="let time of request.times"  >
          <div >
            <p class="card-text">Fecha: {{time.date}}</p>
            <!-- <p class="card-text">Desde (H): {{time.begin_at_hour}}</p>
            <p class="card-text">Desde (M): {{time.begin_at_minute}}</p>
            <p class="card-text">Hasta (H): {{time.end_at_hour}}</p>
            <p class="card-text">Hasta (M): {{time.end_at_minute}}</p> -->
          </div>
        </div>
      </div>
    <!-- <p class="card-text">Dia: {{request.times[0].date}}</p>
    <p class="card-text">Hora inicio: {{request.times[0].begin_at_hour}}</p> -->

    <a  routerLink="/layout/inbox/mail/{{request.id}}" class="btn btn-primary">Gestionar</a>
    <a href="#" class="btn btn-primary">Dar de Baja</a>
  </div>
</div>
</div>
<!--/.Panel-->

