<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="#"><img src="../assets/images/logo.png" width="200px"> </a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">&nbsp;
      <li class="nav-item dropdown" ngbDropdown>
        <i class="fa fa-user"></i> Hi {{currentUser.username}}! &nbsp; &nbsp;  
        <i class="fa fa-user"></i> Role: {{currentUser.role}}! &nbsp; &nbsp;  
      </li>
    </ul>
    <p><a [routerLink]="['/login']">Logout</a></p>
  </div>
</nav>



