<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" 
      integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div [ngSwitch]="true" class="list-group">
    <!-- Profile -->
     <a routerLink="/layout/profile" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <span><i class="fa fa-user-circle"></i>Profile</span>
    </a>
    <!-- Dashboard -->
    <a *ngSwitchCase="currentUser.role === 'manager'" routerLink="/layout/dashboard" [routerLinkActive]="['router-link-active']"
       class="list-group-item">
      <span><i class="fa fa-bar-chart-o fa-fw"></i>Dashboard</span>
    </a>
    <!-- Recursos -->
    <div *ngSwitchCase="currentUser.role === 'manager'"  class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-sort-amount-down "></i>&nbsp;Recursos</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/inbox"><span>Buzon de entrada</span></a>
          </li>
          <li>
            <a routerLink="/layout/calendarevent"><span>Calendario</span></a>
          </li>
          <li>
            <a routerLink="/layout/mycalendar"><span>MyCalendar</span></a>
          </li>
        </ul>
      </li>
    </div>
    <!-- Parametrización -->
    <div *ngSwitchCase="currentUser.role === 'manager'" class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-file-text"></i>Parametrización</span>
      </a>
        <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/loadrequest"><span>Cargue Semestral</span></a>
          </li>
        </ul>
      </li>
    </div>

    <!-- Administración -->
    <div *ngSwitchCase="currentUser.role === 'manager'" class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-users fa-fw"></i>Administración</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/users"><span>Encargados</span></a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/faculty"><span>Facultad</span></a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/event"><span>Evento</span></a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/subject"><span>Asignatura</span></a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/group"><span>Grupo</span></a>
          </li>
        </ul>
      </li>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/purpose-classroom"><span>Proposito salon</span></a>
          </li>
        </ul>
      </li>
    </div>
    <!-- Historial -->
    <a *ngSwitchCase="currentUser.role === 'manager'" class="list-group-item more-themes" >
      <span><i class="fa fa-history"></i>Historial</span>
    </a>
    <!-- Solicitudes -->
    <div *ngSwitchCase="currentUser.role ==='teacher'" class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fa fa-clipboard-list"></i>Solicitudes</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/requestbag"><span>Lista Solicitudes</span></a>
          </li>
          <li>
            <a  routerLink="/layout/requestbag/register"><span>Crear Solicitud</span></a>
          </li>
        </ul>
      </li>
    </div>
     <!-- Comentarios -->
     <div class="nested-menu"><!--*ngSwitchCase="currentUser.role ==='student' "-->
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fas fa-comments fa-fw"></i>Comentarios</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/coment"><span>Crear Comentario</span></a>
          </li>
          <li *ngSwitchCase="currentUser.role ==='manager' ">
            <a  routerLink="/layout/comentreg"><span>Listado de comentarios</span></a>
          </li>
        </ul>
      </li>
    </div>
    <!-- Daños -->
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <span><i class="fas fa-exclamation-triangle"></i>Reportar un daño</span>
      </a>
      <li class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a  routerLink="/layout/damagerecord"><span>Generar reporte</span></a>
          </li>
          <li><!--*ngSwitchCase="'manager'"-->
              <a  routerLink="/layout/damagereg"><span>Listado de reportes</span></a>
          </li>
        </ul>
      </li>
    </div>

    <!-- About -->
    <a class="list-group-item more-themes" href="" >
      <span><i class="fa fa-question-circle fa-fw"></i>About</span>
    </a>
  </div>
</nav>




