<app-banner></app-banner>
<div class="container">
  <!--Section: Features v.3-->
  <section class="section feature-box pt-5">

    <!--Section heading-->
    <h1 class="section-heading pt-4">Ficha producto</h1>
    <!--Section description-->
    <p class="section-description lead grey-text">UNclassroom es el sistema de gestión de recuros fisicos, que proporciona la automatizacion del proceso de asignacion, peticiones y comentarios</p>

    <!--Grid row-->
    <div class="row features-small pt-5">

      <!--Grid column-->
      <div class="col-lg-5 mb-r center-on-small-only">
        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/ipad-portfolio2.png" alt="" class="img-fluid z-depth-0">
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7">

        <h5 class="feature-title">Componentes</h5>
        <!--Grid row-->
        <div class="row pb-3">

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Asignacion masiva de salones para las asignaturas</p>
          </div>

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Generacion de reportes</p>
          </div>

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Registro de peticiones de planta fisica durante el semestre para diferentes asuntos (coloquios, clases asignadas durante el semestre, auditorios para presentaciones, entre otros)</p>
          </div>

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Registro de comentarios</p>
          </div>

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Administración de recursos</p>
          </div>

          <div class="col-2 col-md-1">
            <i class="fa fa-code blue-text"></i>
          </div>
          <div class="col-11">
            <p class="grey-text">Parametrización del semestre</p>
          </div>

        </div>
        <!--Grid row-->


      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </section>
  <!--Section: Features v.3-->

</div>
<div class="view intro hm-white-light" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/a9/FacultaddemedicinaUNAL.jpg); background-attachment: fixed;     min-height: 500px !important;"  >

  <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 wow fadeIn mb-3">

        <div class="card card-image mb-3 rgba-grey-slight">

          <!-- Content -->
          <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>

              <h5 class="display-4 mb-2 wow fadeInDown " data-wow-delay="0.3s" style="color: #FFFFFF !important;">Calidad, <a class="indigo-text font-bold" style="color: #3EA5B9 !important;">Transparencia y </a>Eficiencia en el proceso</h5>

            </div>
          </div>
          <!-- Content -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-6 text-center mb-5">
      <h1 class="font-bold light-blue-text my-5">Infraestructura como código</h1>
      <p align="justify">
        No es un concepto nuevo, aunque se está viendo como una necesidad ante el auge de entornos cloud y sobre todo
        metodologías que ahora están de moda como Scrum , que proponen un entorno de integración continua cuyo
        objetivo principal es disminuir el time to market o el tiempo transcurrido desde que se libera un desarrollo hasta
        que este se encuentra disponible para el usuario final.
        Estos nuevos modelos de desarrollo basados en aproximaciones sucesivas hasta llegar al objetivo final,
        necesitan sobre todo de un entorno que les permita un despliegue lo más rápido posible desde la fase de desarrollo
        hasta el entorno de pruebas y su liberación final. La automatización necesaria de estas labores requiere de una
        estrecha colaboración entre los equipos de desarrollo y de operaciones.

      </p>
    </div>    <div class="col-md-6 text-center mb-5">
    <p align="justify">
      <img src="../../assets/images/Procesos.png" width="100%">
    </p>
  </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</div>
