<div class="container rgba-grey-slight" style="background-image: url('../../../assets/images/background1.jpg ') ">

  <!--Card image-->
  <div style="height: 150px">
  </div>

<!--Jumbotron-->
<div class="jumbotron text-center" style="border-radius: 0px !important"  >
  <div class="row">
  <div class="col col-lg-6 .col .col-md-6">
  <!--Title-->
    <!-- Avatar -->
    <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
    </div>
  <h3 class="about-name font-bold pb-2"><strong>{{currentUser.username}} </strong></h3>

  <h4 class=" font-bold about-title">{{currentUser.role}}</h4>

  </div>
  <div class="col col-lg-6 .col .col-md-6" style="text-align: left">
  <!--Linkedin-->

    <div style="height: 50px">
    </div>
      <p>Nombre:  {{currentUser.first_name}} </p> &nbsp;
      <p>Apellido: {{currentUser.last_name}} </p> &nbsp;
      <p>Email: {{currentUser.email}}</p>  &nbsp;
    </div>

  </div>
</div>
<!--Jumbotron-->
</div>
