<h3> Reporte de daños </h3>
<hr class=" px-4 ">
<!--Grid row-->
<div class="row mt-6 ml-6 ">

  <!--Grid column-->
  <div class="col-lg-4 col-md-4" style="margin-bottom: 15px">
  </div>
  <!--Grid row-->
</div>
<!--Top Table UI-->
<div class="card card-cascade narrower">
  <!--/Card image-->
  <div class="px-4">
    <div class="table-wrapper"  ><!--*ngIf="getOpinions"-->
      <!--Table-->
      <table class="table table-hover mb-0">
        <!--Table head-->
        <thead>
        <tr>
          <th class="mr-2"><label  class="th-lg label-table">No.</label>
          </th>
          <th class="th-lg">Descripción<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Edificio<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Salón<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Imagen<i class="fa fa-sort ml-1"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of reports">
          <th scope="row">
            <label  class="label-table">{{report.id}}</label>
          </th>
          <td>{{report.description}}</td>
          <td>{{report.building_id}}</td>
          <td>{{report.classroom_id}}</td>
          <td><a target="_blank" href="http://localhost:3000/reports/{{report.image.url}}" class="btn btn-info" role="button">Ver imagen</a></td>
        </tr>
        </tbody>
        <!--Table body-->
      </table>

      <!-- <app-tables ></app-tables> -->

      <!--Table-->
    </div>

    <hr class="my-0">

    <!--Bottom Table UI-->
    <div class="d-flex justify-content-between">


      <!--Pagination -->
      <nav class="my-4">
        <ul class="pagination pagination-circle pg-blue mb-0">

          <!--First-->
          <li class="page-item disabled"><a class="page-link" (click)="onChangeReport(1)">First</a></li>

          <!--Arrow left-->
          <li class="page-item disabled">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!--Numbers-->
          <li class="page-item active" (click)="onChangeReport(1)"><a class="page-link" >1</a></li>
          <li  (click)="onChangeReport(2)"><a class="page-link" >2</a></li>
          <li  (click)="onChangeReport(3)"><a class="page-link" >3</a></li>
          <li  (click)="onChangeReport(4)"><a class="page-link" >4</a></li>
          <li  (click)="onChangeReport(5)"><a class="page-link" >5</a></li>
          <li  (click)="onChangeReport(6)"><a class="page-link" >6</a></li>

          <!--Arrow right-->
          <li class="page-item">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only"  (click)="onChangeReport(6)">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item"><a class="page-link">Last</a></li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->

  </div>
</div>

