<h3> Reporte de daños </h3>
<hr class=" px-4 ">
<!--Grid row-->
<div class="row mt-6 ml-6 ">

  <!--Grid column-->
  <div class="col-lg-4 col-md-4" style="margin-bottom: 15px">
  </div>
  <!--Grid row-->
</div>
<!--Top Table UI-->
<div class="card card-cascade narrower">
  <!--/Card image-->
  <div class="px-4">
    <div class="table-wrapper"  ><!--*ngIf="getOpinions"-->
      <!--Table-->
      <table class="table table-hover mb-0">
        <!--Table head-->
        <thead>
        <tr>
          <th class="mr-2"><label  class="th-lg label-table">No.</label>
          </th>
          <th class="th-lg">Descripción<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Edificio<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Salón<i class="fa fa-sort ml-1"></i></th>
          <th class="th-lg">Imagen<i class="fa fa-sort ml-1"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let report of reports">
          <th scope="row">
            <label  class="label-table">{{report.id}}</label>
          </th>
          <td>{{report.description}}</td>
          <td>{{report.building_id}}</td>
          <td>{{report.classroom_id}}</td>
          <td><a class="btn  waves-light" style="background-color: #3EA5B9;"  (click)="form.show()"  mdbRippleRadius>
            <i class="fa fa-clone left"></i> Image</a></td>
          <div mdbModal  #form="mdb-modal"   class="modal fade" id="modalImage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
              <!--Content-->
              <div class="modal-content" style="background: transparent;">
                <!--Body-->
                <div class="modal-body" style="margin-left: -480px; margin-top: -200px;">
                    <img src="http://localhost:3000{{report.image.url}}">
                </div>
              </div>
            </div>
          </div>
        </tr>
        </tbody>
        <!--Table body-->
      </table>

      <!-- <app-tables ></app-tables> -->

      <!--Table-->
    </div>

    <hr class="my-0">

    <!--Bottom Table UI-->

    <!--Bottom Table UI-->
    <div class="d-flex justify-content-between">


      <!--Pagination -->
      <nav class="my-4"   *ngIf="Number">
        <ul class="pagination pagination-circle pg-blue mb-0">

          <!--First-->
          <li class="page-item" (click)="onChangePage(this.first)"><a class="page-link">First</a></li>

          <!--Arrow left-->
          <li class="page-item" (click)="onChangePrevious(this.previous)">
            <a class="page-link" aria-label="Previous">
              <span aria-hidden="true" >&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>

          <!--Numbers-->

          <li class="page-item " *ngFor="let eventNumber of Number" (click)="onChangePage(eventNumber)"><a class="page-link">{{ eventNumber }}</a></li>

          <!--Arrow right-->
          <li class="page-item" (click)="onChangeNext(this.next)">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true" >&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>

          <!--First-->
          <li class="page-item"  (click)="onChangePage(this.last)"><a class="page-link" >Last</a></li>

        </ul>
      </nav>
      <!--/Pagination -->

    </div>
    <!--Bottom Table UI-->
  </div>
</div>


<a class="btn  waves-light" style="background-color: #3EA5B9;"  (click)="form.show()"  mdbRippleRadius>
  <i class="fa fa-clone left"></i> Login</a>



<!--Modal: Login Form-->
<div mdbModal  #form="mdb-modal"   class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header light-blue darken-3 white-text">
        <h4 class="title"><i class="fa fa-user"></i> Log in</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" (click)="form.hide()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <div class="md-form form-sm">
          <img src="http://localhost:3000{{report.image.url}}">
          <input mdbActive type="text" id="form30" class="form-control">
          <label for="form30">Your email</label>
        </div>

        <div class="text-center mt-2">
          <button class="btn btn-info waves-light" mdbRippleRadius>Log in <i class="fa fa-sign-in ml-1"></i></button>
        </div>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login Form-->


