<div class="view intro hm-white-light" style="background-image: url(assets/images/background1.jpg);
            background-attachment: fixed; height: 1200px;">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 1000px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">

            <div class="card card-image mb-3 rgba-grey-slight">

              <!-- Content -->
              <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                  <h1 class="display-1 mb-2 wow fadeInDown  font-bold" data-wow-delay="0.3s"
                      style="color: #f5f5f5 !important;">UN <a class="indigo-text font-bold" style="color: #3EA5B9 !important;">
                        Classroom</a></h1>
                  <h5 class="font-up mb-3 mt-1 font-bold wow fadeIn" data-wow-delay="0.4s" style="color: #FFFFFF !important;">Plataforma desarrollada para la gestión de recursos de la planta fisica en la Universidad</h5>

                  <a class="btn  waves-light" style="background-color: #3EA5B9;" routerLink="/login"  mdbRippleRadius>
                    <i class="fa fa-clone left"></i> Login</a>
                </div>
              </div>
              <!-- Content -->
            </div>
            <div class="intro-info-content text-center">  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





