<!-- Titulo -->
<div class="row">
  <div class="col-xl-9 col-lg-9">
    <h3 style="margin-top: 15px"  class="text-muted"> Comentarios </h3>
  </div>
</div>
<hr class=" px-4 ">
<form class="col-md-10"  #requestForm="ngForm">

  <!-- Edificio -->
  <div class="row">
  <label mdbActive  for="bl" class="text-muted">Edificio:</label>
  <div class="md-form" *ngIf="getBuildings"> 
    <select [(ngModel)]="opinion.building_id" class="form-control" id="bl" name="building_name" ngModel >
        <option value=""></option>
        <option *ngFor="let building of buildings" value="{{building.id}}"  (click)="verify()">{{building.name}}</option>
    </select>
  </div>
  <!-- Salon -->
  <label mdbActive  for="room" class="text-muted">Salón:</label>
  <div class="md-form"> <!--*ngIf="getSubjects"-->
    <select [(ngModel)]="opinion.classroom_id" class="form-control" id="room" name="classroom_id" ngModel >
        <option value=""></option>
        <option *ngFor="let classroom of classrooms" value="{{classroom.id}}">{{classroom.id}}</option>
      <option></option>
    </select>
  </div>
</div>
<!-- Estado del salon -->
<div class="row">
  <label mdbActive  for="st"  class="text-muted">Estado del Salón: </label>
  <div class="md-form">
    <select class="form-control" id="st" ngModel>
      <option value=""></option>
      <option>Malo</option>
      <option>Regular</option>
      <option>Aceptable</option>
      <option>Bueno</option>
    </select>
  </div>
</div>
<!-- Observación -->
  <label mdbActive  for="observation"  class="text-muted"> Observación</label>
  <div class="md-form">
    <textarea [(ngModel)]="opinion.description" mdbActive type="text" id="motive" class="md-textarea" id="observation" name="description" ngModel></textarea>
  </div>

  <!-- BOTON -->
  <!-- Enviar -->
  <div class="row">
    <button 
      (click)="logForm(ngForm)" 
      class="btn btn-default" >Eviar comentario</button>
  </div> 
  <!-- Test -->
  <!--div class="btn btn-default" (click)="verify()">
    Verificar cambios
  </div-->
</form>