<div class="row">
  <div class="col-xl-9 col-lg-9">
    <h3 style="margin-top: 15px"  class="text-muted"> Comentarios </h3>
  </div>
</div>

<hr class=" px-4 ">
<form class="col-xl-7 col-lg-7" (submit)="logForm(buildingForm)"  #buildingForm="ngForm"
      enctype="multipart/form-data" >
  
  <div class="row">
  <label mdbActive  for="" class="text-muted">Edificio:</label>
  <div class="md-form"> <!--*ngIf="getSubjects"-->
    <select class="form-control" id="bl" name="" ngModel >
      <option value=""></option>
      <option  *ngFor="" value="{{building.id}}">{{building.name}}</option>
    </select>
  </div>


  <label mdbActive  for="" class="text-muted">Salón:</label>
  <div class="md-form"> <!--*ngIf="getSubjects"-->
    <select class="form-control" id="room" name="" ngModel >
      <option value=""></option>
      <option  *ngFor="" value="{{building.id}}">{{building.name}}</option>
    </select>
  </div>
</div>
<div class="row">
  <label mdbActive  for=""  class="text-muted">Estado del Salón: </label>
  <div class="md-form">
    <select class="form-control" id="st" ngModel>
      <option>Malo</option>
      <option>Regular</option>
      <option>Aceptable</option>
      <option>Bueno</option>
    </select>
  </div>
</div>
  <label mdbActive  for="observation"  class="text-muted"> Observación</label>
  <div class="md-form">
    <textarea mdbActive type="text" id="motive" class="md-textarea" id="motive" name="motive" ngModel></textarea>
  </div>

  <!--
  <div class="md-form">
    <input type="file" id="file" name="file" ngModel (change)="getFiles($event)" #fileInput>

  </div>-->

  <div class="row">
    <button type="submit" class="btn btn-default" >Cancelar</button>
    <button type="submit" class="btn btn-default" >Eviar comentario</button>
  </div>
</form>
<!--/.Panel-->

