<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="300px" />

      <form role="form">
        <div class="form-content">
          <div class="form-group">
            <input 
            id="name" 
            name="name" 
            type="text" 
            placeholder="Full Name">
          </div>

          <div class="form-group">
            <input
            id="email"
            name="email"    
            type="email"
            required 
            ng-model="signUpUser.email"
            class="validate"
            placeholder="Email">
          </div>

          <div class="form-group">
            <input
            id="password"
            name="password"   
            type="password"
            required 
            [(ngModel)]="signUpUser.password"
            class="validate"
            placeholder="Password">
          </div>
          <div class="form-group">
            <input 
            id="password_confirmation"
            name="password_confirmation" 
            type="password" 
            required
            [(ngModel)]="signUpUser.passwordConfirmation"
            class="form-control input-underline input-lg" 
            class="validate"
            placeholder="Repeat Password">
          </div>
          <span 
            *ngIf="signUpUser.password != signUpUser.passwordConfirmation"
            style="color:red">Passwords must match
          </span>
        </div>

        <a class="btn rounded-btn" id="reg" [routerLink]="['/layout']"> Register </a>&nbsp;
        <a class="btn rounded-btn"  id="log" [routerLink]="['/login']"> Log in </a>
      </form>
    </div>
  </div>
</div>
