<div class="login-page" [@routerTransition]>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="300px" />

      <form (ngSubmit)="onSignUpSubmit()" #f="ngForm" >
        <div class="form-content">

          <div class="form-group">
            <input id="email"
                   type="email"
                   required
                   name='email'
                   [(ngModel)]="signUpUser.email"
                   class="validate">
            <label for="email">Email</label>
          </div>

          <div class="form-group">
            <input id="password"
                   type="password"
                   required
                   name='password'
                   [(ngModel)]="signUpUser.password"
                   class="validate">
            <label for="password">Password</label>
          </div>
          <div class="form-group">
            <input id="password_confirmation"
                   type="password"
                   required
                   name='password_confirmation'
                   [(ngModel)]="signUpUser.passwordConfirmation"
                   class="validate">
            <label for="password_confirmation">Password confirmation</label>
          </div>
          <span
            *ngIf="signUpUser.password != signUpUser.passwordConfirmation"
            style="color:red">Passwords must match
          </span>
        </div>
        <button type="submit"
                [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)"
                class="waves-effect waves-light btn blue right">
          Sign up
        </button>

        <a class="btn rounded-btn"  id="log" [routerLink]="['/login']"> Log in </a>
      </form>
    </div>
  </div>
</div>
