<div class="login-page" [@routerTransition]>
    <div  *ngIf="loading">
        <img src="../../assets/images/loader.gif">
        
    </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <img class="user-avatar" src="assets/images/logo.png" width="300px" />

      <form (ngSubmit)="register()" #f="ngForm" >
        <div class="form-content">
          <div class="form-group">
                <label for="email">FirstName</label>
                <input
                  type="text"
                  id="first_name"
                  required
                  name='first_name'
                  [(ngModel)]="model.first_name"
                  class="validate">
          </div>
          <div class="form-group">
              <label for="email">LastName</label>
              <input
                type="text"
                id="last_name"
                required
                name='last_name'
                [(ngModel)]="model.last_name"
                class="validate">
            </div>
          <div class="form-group">
            <label for="email">Username</label>
            <input
              type="text"
              id="username"
              required
              name='username'
              [(ngModel)]="model.username"
              class="validate">
          </div>

          <div class="form-group">
              <label for="email">Email</label>
              <input id="email"
                type="email"
                required
                name='email'
                
                pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                [(ngModel)]="model.email"
                class="validate">
              <i class="fa fa-check check-ok"></i>
          </div>

          <div class="form-group">
              <label for="password">Password</label>
              <input id="password"
                type="password"
                required
                name='password'
                pattern ="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*?]{8,16}"
                [(ngModel)]="model.password"
                class="validate">
                <p class="pcheck">*The password must have between 8 and 16 characters and have at least one uppercase letter, one lowercase and one number</p>

          </div>

          <div class="form-group">
            <input
              id="password_confirmation"
              type="password"
              required
              name='password_confirmation'
              [(ngModel)]="model.password_confirmation"
              class="validate">
            <label for="password_confirmation">Password confirmation</label>
          </div>

          <span
            *ngIf="model.password != model.password_confirmation"
            style="color:red">Passwords must match<br>
          </span>
        </div>
        <button type="submit"
                id="reg"
                [disabled]="loading"
                [disabled]="!(f.valid) || !(model.password == model.password_confirmation)"
                class="btn rounded-btn">
          Sign up
        </button>

        <a class="btn rounded-btn"  id="log" [routerLink]="['/login']"> Log in </a>
      </form>
    </div>
  </div>
</div>
